{% load static %}



<html>

<head>
    <meta charset="UTF-8">
   
</head>

<body>
    <div class="navbar">
        <div class="dropdown">
            <div class="box"><a href="#zad1">task1asd</a>
                <div class="drop-cont">
                    <a href="/dash/upload/" id="button1">upload</a><br>

                    <a href="#zad1" id="button2">zad1b</a><br>

                    <a href="#zad1" id="button3">zad1c</a><br>

                </div>
            </div>
        </div>

        <div class="dropdown">
            <div class="box"><a href="#zad2">task 2</a>
                <div class="drop-cont">
                    <a href="#zad1">zad2a</a><br>
                    <a href="#zad1" id="button4">zad2a</a><br>
                    <a href="#zad1">zad2a</a><br>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div class="box"><a href="#zad3">task 3</a>
                <div class="drop-cont">
                    <a href="#zad1">zad3a</a><br>
                    <a href="#zad1">zad3a</a><br>
                    <a href="#zad1">zad3a</a><br>
                    <a href="#zad1">zad3a</a><br>
                </div>
            </div>
        </div>
    </div>





        
    <div id="timeline">
        <div id="task">


        </div>
    </div>
    <input id="variable" style="display: none" value="{{myVar}}"></input>
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}" />
    <script type="text/javascript" src="{% static 'dashboard/script4.js' %}"></script>
    
</body>

</html>