{% load static %}



<html>

<head>
    <meta charset="UTF-8">
    <script>
        var tasks = {{myVar | safe}};
    </script>
</head>

<body>
    <div class="navbar">
        <div class="dropdown">
            <div class="box"><a href="/dash/upload/">uploads +</a>
                <div class="drop-cont">


                </div>
            </div>
        </div>



            
        
    </div>





        
    <div id="timeline">
        <div id="task">


        </div>
    </div>
    <input id="variable" style="display: none" value="{{myVar}}"></input>
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}" />
    <script type="text/javascript" src="{% static 'dashboard/script4.js' %}"></script>
    
</body>

</html>